<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fight Tracker</title>
  <link rel="stylesheet" href="./style.css">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
</head>

<body>
  <main>
    <h1>This is a placeholder but eventually this will be the fighting game tracker</h1>
    <p id="counter" hx-swap="innerHTML">0</p>
    <button hx-post="/api/up" hx-target="#counter">
      Up
    </button>
    <button hx-post="/api/down" hx-target="#counter">
      Down
    </button>
  </main>
</body>

</html>